<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header text-center text-primary">
      <h4>Registrar Propietario</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onRegisterOwner()" #registerOwnerForm="ngForm">
        <div class="mb-3">
          <label for="cedula" class="form-label">Número de Cédula</label>
          <input
            id="cedula"
            type="text"
            class="form-control"
            [(ngModel)]="cedula"
            name="cedula"
            required
          />
        </div>
        <div class="mb-3">
          <label for="primerNombre" class="form-label">Primer Nombre</label>
          <input
            id="primerNombre"
            type="text"
            class="form-control"
            [(ngModel)]="primerNombre"
            name="primerNombre"
            required
          />
        </div>
        <div class="mb-3">
          <label for="segundoNombre" class="form-label">Segundo Nombre</label>
          <input
            id="segundoNombre"
            type="text"
            class="form-control"
            [(ngModel)]="segundoNombre"
            name="segundoNombre"
          />
        </div>
        <div class="mb-3">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input
            id="apellidos"
            type="text"
            class="form-control"
            [(ngModel)]="apellidos"
            name="apellidos"
            required
          />
        </div>
        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección</label>
          <input
            id="direccion"
            type="text"
            class="form-control"
            [(ngModel)]="direccion"
            name="direccion"
            required
          />
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input
            id="telefono"
            type="text"
            class="form-control"
            [(ngModel)]="telefono"
            name="telefono"
            required
          />
        </div>
        <div class="mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input
            id="ciudad"
            type="text"
            class="form-control"
            [(ngModel)]="ciudad"
            name="ciudad"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">
          Guardar Propietario
        </button>
      </form>
    </div>
  </div>
</div>