<div class="dashboard-container">
  <!-- Renderiza el menú solo si la ruta no es Login o Registro -->
  <mat-toolbar class="navbar navbar-expand-lg" *ngIf="shouldShowMenu()" style="background: linear-gradient(to right, #2196F3, #21CBF3); color: white; display: flex; align-items: center;">
    <span class="navbar-brand" style="font-weight: bold; font-size: 1.2em;">Transportes ACME</span>
  
    <!-- Menú en Dropdown para pantallas pequeñas -->
    <div class="d-lg-none">
      <select class="form-select" onchange="location.href=this.value;">
        <option value="/propietarios">Propietarios</option>
        <option value="/vehiculos">Vehículos</option>
        <option value="/conductores">Conductores</option>
        <option value="/register">Registrar</option>
        <option value="/logout">Cerrar Sesión</option>
      </select>
    </div>
  
    <!-- Menú normal para pantallas grandes -->
    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav" style="width: 100%;">
      <ul class="navbar-nav ms-auto" style="margin: 0; padding: 0;">
        <li class="nav-item">
          <a class="nav-link" href="/propietarios" routerLinkActive="active" style="color: white;">Propietarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehiculos" routerLinkActive="active" style="color: white;">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/conductores" routerLinkActive="active" style="color: white;">Conductores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" routerLinkActive="active" style="color: white;">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="logout()" style="color: white;">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>


  <!-- Área principal donde se renderizan las rutas -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>